@import '../../partials/_layout';
@import '../../partials/_mixins';
@import '../../partials/_variables';

.feed {
	padding: 65px 0 30px 0;
	@include MQ(Pp) {
		padding: 0;
	}
}

.feed-item {
	display: flex;
	size: 100% 270px;
	margin: 55px 0;
	@include MDShadow-1;
	transition: box-shadow .3s ease-in-out;
	&:hover {
		@include MDShadow-2;
	}
	@include MQ(Pp) {
		flex-flow: column wrap;
		height: auto;
	}

	&__hot-new {
		position: absolute;
		size: 70px;
		transform: translate(-50%, -50%);
		@include MQ(Pp) {
			transform: translate(-10%, -10%);
		}
	}

	&__image {
		object-fit: cover;
		min-width: 280px;
		background-color: #202020;
		@include MQ(Pp) {
			min-width: initial
		}
	}

	&__container {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-content: center;
		width: 100%;
	}

	&__headline {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 25px 20px 0
	}
	&__headline-title {
		font: 300 36px 'HelveticaNeueCyr-Light', Arial, sans-serif;
		@include MQ(Pp) {
			font-size: 1.5rem;
		}
	}
	&__headline-date {
		font-size: 17px;
		@include MQ(Pp) {
			font-size: 12px;
		}
	}
	&__content {
		padding: 15px 20px;
		font: 300 17px/1.3 'HelveticaNeueCyr-Light', Arial, sans-serif;
	}

	&__link {
		padding: 18px 0;
		text-align: center;
		font: 300 17px/1.3 'HelveticaNeueCyr-Light', Arial, sans-serif;
		color: $blue;
		border-top: solid 1px rgba(#202020, .15);
	}
}
