@import './partials/_layout';
@import './partials/_mixins';
@import './partials/_variables';
@import './layout/resets';

.wrapper {
	@include font-smoothing;
	color: $black;
}

.container {
	size: 100%;
	max-width: 1180px;
	margin: auto;
}

.container_flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
	@include MQ(Pp) {
		flex-direction: column;
	}
	@include MQ(Pl) {
		flex-direction: column;
	}
}

.container_flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
}
@include MQ(Pp) {
	.container,
	.container_flex-column,
	.container_flex-row {
		max-width: 95%;
	}
}
@include MQ(Pl) {
	.container,
	.container_flex-column,
	.container_flex-row {
		max-width: 95%;
	}
}
@include MQ(Tp) {
	.container,
	.container_flex-column,
	.container_flex-row {
		padding: 0 5%;
	}
}
@include MQ(Tl) {
	.container,
	.container_flex-column,
	.container_flex-row {
		padding: 0 5%;
	}
}

.main {
	background-color: #eff0f5;
	@include MQ(Pp) {
		margin-top: $headerHeight * 0.6;
	}
}
@import "./sections/header";
@import "./sections/footer";
@import "./sections/modal";
@import "./sections/main/offer";

.button-up {
	z-index: 1000;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	margin: 40px;
	cursor: pointer;
	transform: translateX(-200%);
	transition: transform 0.6s ease-in-out 0.3s;

	&.is-visible {
		transform: translateX(0);
	}
}
