@import './partials/_layout';
@import './partials/_mixins';
@import './partials/_variables';
@import './layout/resets';

.wrapper {
	@include font-smoothing;
	color: $black;
}

.container {
	size: 100%;
	max-width: 1180px;
	margin: auto;
}

.container_flex-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
	@include MQ(Pp) {
		flex-direction: column;
	}
	@include MQ(Pl) {
		flex-direction: column;
	}
}

.container_flex-column {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	max-width: 1180px;
	height: 100%;
	margin: 0 auto;
}
@include MQ(Pp) {
	.container,
	.container_flex-column,
	.container_flex-row {
		max-width: 95%;
	}
}
@include MQ(Pl) {
	.container,
	.container_flex-column,
	.container_flex-row {
		max-width: 95%;
	}
}

.main {
	background-color: #eff0f5;
}
@import "./sections/header";
@import "./sections/footer";
@import "./sections/modal";
@import "./sections/main/offer";

.header-profile {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-left: 60px;
	@include MQ(Pp) {
		margin-left: 30px;
	}
	&__link {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	&__name {
		text-align: right;
		font: 700 1rem 'HelveticaNeueCyr-Bold', Arial,sans-serif;
		@include MQ(Pp) {
			display: none;
		}
	}
	&__avatar {
		width: 50px;
		margin: 0 20px;
		border-radius: 50%;
	}
}

.button-up {
    z-index: 1000;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    margin: 40px;
    cursor: pointer;
    transform: translateX(-200%);
    transition: transform .6s ease-in-out .3s;
    &.is-visible {
        transform: translateX(0);
    }
}
