@import "./sections/advertising/intro";
@import "./sections/profile/devider";
@import "./sections/main/news";
@import "./sections/production/title";
@import "./sections/gallery/navigate";
@import "./sections/gallery/gallery";

#searchIcon {
	size: 26px;
	.searchIcon {
		fill: #fff;
	}
}

.header-search {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	size: 550px 50px;
	margin-left: 95px;
	padding: 0 4px;
	padding-left: 25px;
	cursor: pointer;
	border: solid 1px $black;
	border-radius: 25px;
	&__iinput {
		width: 415px;
		border: none;
	}
	&__button {
		size: 90px 42px;
		background-color: $blue;
		cursor: pointer;
		border: none;
		border-radius: 21px;
	}
}

.header-singin {
	flex-basis: 25%;
}

#videoIconSvg {
	position: absolute;
	left: 0;
	width: 125px;
}

.news {
	position: static;
	bottom: auto;
	background-color: #eff0f5;
	.container {
		position: relative;
	}
	&__buttons-container {
		top: 55px;
		right: 0%;
	}
}
