@import '../../partials/_layout';
@import '../../partials/_mixins';
@import '../../partials/_variables';

.intro {
	size: 100 200px;
	background: url('../assets/img/intro.jpg') no-repeat center center;
	background-size: cover;
}
