// Global colors

$white: #fff;
$black: #050505;
$grey: #9e9e9e;
$blue: #627bcd;
$french-blue: #3f51b5;
$orange: #ee8330;
$green: #8ac349;

$blacked: #000;

$ripple-opacity: 0.4;

// z-index
$secondary-nav: 10;
$content-zindex: 20;
$header-zindex: 30;
$overlay-zindex: 40;
$cart-zindex: 50;
$modal-zindex: 60;

$headerHeight: 100px;
