@import '../../partials/_layout';
@import '../../partials/_mixins';
@import '../../partials/_variables';

.gradient {
	position: absolute;
	top: 0;
	z-index: -1;
	size: 100% 1300px;
	background-image: linear-gradient(to bottom, #cbddcf 45%, $white);
	// background: linear-gradient(to bottom, #CBDDCF, $white);
}

.advantages {
	z-index: 10;
	position: relative;
	padding-bottom: 140px;
	@include MQ(Pp) {
		height: auto;
		padding-bottom: 50px;
	}

	.container_flex-row {
		justify-content: space-between;
		align-items: flex-start;
	}

	.container_flex-column {
		justify-content: flex-start;
	}

	&__headline {
		margin-bottom: 100px;
		text-align: center;
		font-size: 42px;
		color: $black;
		@include MQ(Pp) {
			margin-bottom: 50px;
		}
	}
}

.advantages-item {
	width: 25%;
	@include MQ(Pp) {
		width: 100%;
		margin-bottom: 50px;
	}

	&__icon {
		size: 135px;
		margin-bottom: 35px;
		background-color: transparent;
	}

	&__headline {
		margin-bottom: 1rem;
		text-align: center;
		font-size: 26px;
		font-weight: 100;
		color: $black;
	}

	&__description {
		font-size: 18px;
		text-align: center;
		color: $black;
		@include MQ(Pp) {
			line-height: 1.5rem;
		}
	}
}
